<script>

	let phones = ["Apple", "Samsung", "Nokia", "Meizu", "Xiaomi", "Huawei", "Sony", "LG", "ASUS"];
	
	phones = phones.map(item => ({ 
		title: item, 
		price: Math.round(Math.random()*1000 + 10)+' $'
	}));
	
	document.write("<h2>Before sort</h2>");	
	document.write(JSON.stringify(phones).replace(/},/g, '},<br>'));
	
	//Start Write Code Here!
	const foo=text=>text.split(' ')[0];
	phones=phones.sort((a,b)=>foo(a['price'])-foo(b['price']));
	
	
	//End Of Your!
	
	document.write("<h2>After sort</h2>");	
	document.write(JSON.stringify(phones).replace(/},/g, '},<br>'));

</script>